<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h3>Type the name of a city to check the weather:</h3>
      <form [formGroup]="weatherForm" (ngSubmit)="weatherQuery(weatherForm.value)">
        <div class="form-group">
          <div class="row">
            <div class="col">
             <input
             class="form-control text-center"
             type="text"
             id="weatherLocation"
             aria-describedby="weatherLocation"
             placeholder="Please input a Location"
             formControlName="location"
           />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-white btn-md">
                <img src="./assets/search.png" style="width: 3rem" alt="Check the weather">
              </button>
            </div>
          </div>
         </div>
       </form>
       <div class="row">
         <div class="col">
          <div *ngIf="weatherData">
            <h3>Weather Details:</h3>
            <img src="{{this.weatherImageUrl}}" alt="Weather Description Image" class="weatherImage">
            <p class="x-large">{{this.weatherData?.current.weather_descriptions[0]}}</p>
            <p>Temperature in Celsius: </p>
            <span class="x-large">{{this.weatherData?.current.temperature}} ° </span>
            <p>Temperature Farenheit:</p>
            <span class="x-large">{{this.weatherData?.current.feelslike | temperatureConverter  : 'F'}} ° F</span>
            <p>Feels like in Celsius: {{this.weatherData?.current.feelslike}} °</p>
            <p>Feels like in Farenheit: {{this.weatherData?.current.feelslike | temperatureConverter  : 'F'}} ° F</p>
            <p>Location Searched: {{this.weatherData?.location.name}}, {{this.weatherData?.location.country}}</p>
          </div>
         </div>
       </div>

  </div>
  </div>
